/* Data table and social links on small screens */
@media only screen and (max-width: 360px) {
	.data-table {
		font-size: .75em
	}
	.the-footer .social-links a {
		margin: 0
	}
}
/*
	Old mobile phone width: [0, 419]
*/
@media only screen and (max-width: 419px) {
	h1,
	h2,
	.h1,
	.h2 {
		font-size: 1.325em !important;
		line-height: 32px !important;
	}
	h3,
	.h3 {
		font-size: 1.175em !important
	}

	.the-header .unit-head {
		padding: 16px !important;

		.nav-global .logo {
			padding-bottom: 0 !important;

			a {
				margin-left: 14px !important;
				padding-top: 6px !important;
				padding-bottom: 6px;
			}

			.btn-menu,
			.btn-search {
				display: inline
			}
		}

		.nav-global li {
			display: none;

			.btn-search {
				display: none
			}
		}
	}

	.the-footer .social-links a {
		height: 36px !important;
		width: 36px !important;
	}

	.data-table {
		font-size: .9em
	}
}

/*
	Smartphone width: [0, 694]
*/
@media only screen and (max-width:694px) {
	img {
		max-width: 95%
	}
	h1,
	h2,
	.h1,
	.h2 {
		font-size: 1.575em;
		line-height: 42px;
	}
	h3,
	.h3 {
		font-size: 1.325em
	}

	.the-header,
	.the-footer,
	.unit-article header h1,
	.unit-article .year {
		text-align: center
	}

	.unit-article .year {
		margin-top: 24px
	}

	.unit-article .posts li,
	.unit-article .posts {
		margin-top: 8px;
		margin-bottom: 8px;

		a {
			line-height: 1.525em;
			padding-left: 0px;
			padding-right: 0px;
		}
	}

	.the-header .unit-head {
		padding-bottom: 6px;

		.nav-global .logo {
			padding-bottom: 18px;

			a {
				display: inline;
				font-size: 1.375em;
				line-height: 0;
				margin-left: 8px;
				padding-top: 0px;
			}
		}

		.nav-global li a {
			padding: 8px
		}
	}
}

/*
	Tablet width: [695, infinity)
*/
@media only screen and (min-width: 695px) {
	.the-header .unit-head {
		padding: 0;

		.nav-global li {
			float: left
		}

		.nav-global li a,
		.nav-global li div {
			text-align: left;
			display: block;
			padding: 26px 24px;
			height: 26px;
		}

		.nav-global li:nth-child(2) {
			border-width: 0 1px
		}

		.nav-global li:last-child {
			border-width: 0
		}

		.nav-global .logo {
			border-right: none 0
		}

		.nav-global .logo a {
			line-height: normal;
			margin-bottom: 0;
			padding-top: 18px;
			padding-left: 36px;
		}
	}

	.the-footer h4 a {
		font-size: 1.25em
	}
}

/*
	Hide post date when width: (0, 960)
*/
@media only screen and (min-width: 0px) and (max-width:960px) {
	.unit-article .date {
		display: none
	}
}

@media only screen and (min-width: 960px) {
	.search-form .results .entry-date {
		display: block;
		float: right;
	}
}

/*
	Not that old computer width: [1366, infinity)
*/
@media only screen and (min-width: 1366px) {
	.the-header {
		.unit-head .nav-global .logo {
			border-bottom: 0 none;

			a {
				line-height: 18px;
				margin-bottom: 0;
				padding-top: 28px;
				padding-left: 52px;
			}
		}
	}

	.body {
		float: left;
		width: 100%;
		margin-right: -450px;

		.unit-body {
			border-top: 0 none;
			margin-right: 330px;
			padding: 26px 52px;
			padding-top: 13px;
		}
	}

	.the-footer {
		background-color: transparent;
		position: fixed;
		top: auto;
		right: 0px;
		display: block;
		float: right;
		padding: 0 8px 0 26px;
		width: 290px;
	}
}

